/* color palette */
:root {
  --primary-purple: #6a498f;
  --orange: #E67F4F;
  --yellow: #FFF7E8;
  --light-blue: #F2F5FE;
  --light-violet: #9564A5;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Baloo";
  src: url('@/assets/fonts/Baloo2-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Baloo";
  src: url('@/assets/fonts/Baloo2-Regular.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Baloo";
  src: url('@/assets/fonts/Baloo2-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Baloo";
  src: url('@/assets/fonts/Baloo2-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Baloo";
  src: url('@/assets/fonts/Baloo2-Bold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url('@/assets/fonts/Montserrat-SemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url('@/assets/fonts/Montserrat-SemiBold.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('@/assets/fonts/Roboto-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('@/assets/fonts/Roboto-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('@/assets/fonts/Roboto-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('@/assets/fonts/Montserrat-Bold.ttf') format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url('@/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format("truetype");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
