/* color palette */
:root {
  --primary: #6a498f;
  --primary-text: #6e3f86;
  --orange: #e67f4f;
  --yellow: #fff7e8;
  --salmon: #fff6f2;
  --light-blue: #f2f5fe;
  --pale-violet: #f9edf9;
  --light-violet: #9564a5;
  --dark-violet: #64378b;
  --gray: #d8d6da;
  --danger: #dc2626;
  --light-gray: rgba(0 0 0 / 30%);
  --green: #53b44a;
  --text-gray: #615f5b;
}

html {
  font-size: 10px;
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: var(--orange);
  font-weight: 600;
}

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Baloo';
  src: url('./fonts/Baloo2-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo';
  src: url('./fonts/Baloo2-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo';
  src: url('./fonts/Baloo2-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo';
  src: url('./fonts/Baloo2-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo';
  src: url('./fonts/Baloo2-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
